<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">


	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="eleks.com.util.CustomListener" />
	</listeners>
	<parameter name="browser" value="firefox" />

	<test name="MainPage">
		<classes>
			<class name="eleks.com.pages_tests.MainPage_Test" />
		</classes>
	</test>
	<test name="MainBoxPage">
		<classes>
			<class name="eleks.com.pages_tests.MailBoxPage_Test" />
		</classes>
	</test>
	<test name="CreateEmailPage">
		<classes>
			<class name="eleks.com.pages_tests.CreateEmailPage_Test" />
		</classes>
	</test>
	<test name="SuccessSendMailPage">
		<classes>
			<class name="eleks.com.pages_tests.SuccessSendMailPage_Test" />
		</classes>
	</test>

	<test name="SentEmailsPage">
		<classes>
			<class name="eleks.com.pages_tests.SentEmailsPage_Test" />
		</classes>
	</test>


	<!-- <parameter name="browser" value="chrome" /> <test name="Test"> <classes> 
		<class name="eleks.com.pages_tests.MainPage_Test" /> <class name="eleks.com.pages_tests.MailBoxPage_Test" 
		/> <class name="eleks.com.pages_tests.CreateEmailPage_Test" /> <class name="eleks.com.pages_tests.SuccessSendMailPage_Test" 
		/> <class name="eleks.com.pages_tests.SentEmailsPage_Test" /> </classes> 
		</test> -->


</suite> <!-- Suite -->
